<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>

    <header>
    <div class="header-links">
        <a href="{{ url_for('index') }}">Назад к расходам</a>
    </div>
    <h1>Статистика</h1>
    <div class="header-links">
        <a href="{{ url_for('stats') }}"></a>
    </div>
</header>

    <div class="container">
    <div class="stats_form">
    <form action="{{ url_for('stats') }}" method="get">
        <label for="month">Выберите месяц:</label>
        <select id="month" name="month">
            {% for i in range(1, 13) %}
                <option value="{{ i }}" {% if i == selected_month %} selected {% endif %}>{{ i }}</option>
            {% endfor %}
        </select>

        <label for="year">Выберите год:</label>
        <select id="year" name="year">
            {% for i in range(2020, datetime.now().year + 1) %}
                <option value="{{ i }}" {% if i == selected_year %} selected {% endif %}>{{ i }}</option>
            {% endfor %}
        </select>

        <button type="submit">Показать статистику</button>
    </form>
    </div>
        <div class="sum_stats">
        <p>Суммарные расходы: {{ total_expenses }}</p>
        <p>Средний расход: {{ average_expense }}</p>
    </div>

    <div class="img_stats">
        {% if img_base64 %}
            <img src="data:image/png;base64,{{ img_base64 }}" alt="Expenses by Category">
        {% else %}
            <p>Нет данных для отображения графика.</p>
        {% endif %}
    </div>

    </div>
</body>

</html>
